= simple_form_for '', url: warehouse.new_warehouse_order_path(@warehouse), method: 'get' do |f|
  = f.input :sale_warehouse_id, collection: @warehouses, label: '订货仓库'
  = f.input :step, input_html:{:value=>'2'}, as: :hidden
  = f.submit '下一步，选择商品', class: 'btn btn-primary'